.mainContent {
  height: 100%;
}

.inputSend {
  width: 30rem;
  border-radius: 10px;
}

.inputGhost {
  outline-color: #5c73db;
  background-color: white;
  padding: 0.75rem;
  padding-left: 1rem;
  width: 80%;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.reportForm {
  width: 100%;
}

.left,
.right {
  width: 50%;
}

.send {
  width: 20%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  border: none;
  outline: none;
}
