<div class="fullContainer flexCentered">
  <app-error-alert
    [message]="alert.message"
    *ngIf="alert.visible && alert.err"
  />
  <app-navbar />

  <!-- FORM PER INVIARE LA MAIL -->
  <form
    class="flexCol gapMid"
    style="width: 30rem"
    (submit)="resetPassword()"
    *ngIf="!id"
  >
    <div class="inputBox flexCol gapXs">
      <label class="textGray">Email</label>
      <input
        type="email"
        name="email"
        class="input textMid textGray"
        [(ngModel)]="email"
      />
    </div>
    <div class="flexCentered">
      <button class="mainButton textWhite mainBlueBg textMid">Invia</button>
    </div>
  </form>

  <!-- FORM PER SETTARE UNA NUOVA PASSWORD -->
  <form
    class="flexCol gapMid"
    style="width: 30rem"
    *ngIf="id"
    (submit)="setNewPassword()"
  >
    <div class="inputBox flexCol gapXs" *ngFor="let i of inputs">
      <label class="textGray">{{ i.label }}</label>
      <input
        type="{{ i.type }}"
        name="{{ i.field }}"
        class="input textMid textGray"
        [(ngModel)]="newCreds[i.field]"
        autocomplete="off"
      />
    </div>
    <div class="flexCentered">
      <button class="mainButton textWhite mainBlueBg textMid">Conferma</button>
    </div>
  </form>
</div>
